@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Roboto', sans-serif;;
    
}

/*-------------------------------INICIO (PRINCIPAL)-----------------------------------*/
body{
    margin: 0;
    padding :0;
    background: #CAF0F8;
}

.logoGeneral{
    position: fixed;
    width: 100px;
    left: 10px;
    top:4px;
}

.contGeneral{
    background:#03045E;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px !important;
    margin-bottom: 0;
    list-style: none;
}

.nav ul{
    margin: 20;
    padding: 0;
    text-align: center;
    background:#03045E;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{

    display: block;
    padding: 0rem 1.2rem;
    font-weight: bold;
}  

.nav a:hover {
    
    transition: all 0.4s linear;
    background: #0077B6;
    color: #03045E;  
    padding: 2.1rem 1.2rem;
    margin-top: -2.5em;
    margin-bottom: -2.5em;

}    

.select {
    background: #0077B6;
    padding: 2.1rem 1.2rem !important;
    margin-top: -2.5em;
    margin-bottom: -2.5em;    
}

.boton_nav{
    padding: 2.1rem 1.2rem;
}

#texto_nav{
    color: white;
}

a{
	text-decoration: none;
}

.usuarioActivo{
    text-align: center;
    position: absolute;
    width: 200px;
    height: 40px;
    background: #0077B6;
    border-radius: 20px;
    top: 3%;
    left: 88%;
}

.nombreUsuario{
    position: relative;
    top:2px;
    font-size: 20px;
    color: #fff;

}

.cerrarSesion{
	position:absolute;
	color:#fff;
	top: 70px;
	right: 10px;
	cursor:pointer;	
}


/*footer*/
.footerInicio{
	justify-content:space-around;
	width: 100%;
	height: 190px;
	display:flex;
	background-color: #0077B6;
	
}

.equipo{
	color:#fff;
	
}

.equipo li{
	list-style:none;
}

.queHacemos{
	color:#fff;
	
}

.queHacemos li{
	list-style:none;
}
.redes{
	color:#fff;
}

.redes i{
	color:#fff;
	font-size:30px;
	margin-right:10px;
}
.contacto{
	color:#fff;
}

.contacto li{
	list-style:none;
}
